<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add tag</h1>
    <button class="button button-clear button-positive"
            ng-click="closeTagModal()">Close</button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item-input">
      <input type="text" ng-model="currentPost.newTag" placeholder="Add a tag">
      <button style="margin-right: 10px;" class="button button-small button-positive" ng-click="addTag()">
        Send
      </button>
    </ion-item>
  </ion-content>
</ion-modal-view>
