<ion-view view-title="{{photo.title}}">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-share" ng-click="showShareModal()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{photo.url}}">
      </div>

      <ion-item class="item-body">
        <h3 ng-if="!photo.editable">
          {{photo.caption}}
        </h3>
        <textarea ng-if="photo.editable" ng-init="photo.newCaption = photo.caption;"
                  style="width: 100%" ng-model="photo.newCaption"></textarea>
        <p style="">© {{photo.author}}</p>
        <span class="item-note">
          <p>{{secondsToDate(photo.createdTime)}}</p>
        </span>
      </ion-item>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" style="color: #ff0000" ng-click="rmPhoto(photo.id)">
          <i class="icon ion-ios-trash"></i>
          Delete
        </a>
        <a class="tab-item" ng-click="editInfo(photo)">
          <i class="icon ion-edit"></i>
          {{photo.editable ? 'Save' : 'Edit'}}
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>

<script id="share-modal" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Share</h1>
      <button class="button button-clear button-positive"
              ng-click="hideShareModal()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="item item-image">
        <img ng-src="{{photo.url}}">
      </div>
      <label class="item item-input" style="margin: 10px 0">
        <textarea placeholder="Say something ..." ng-model="newPost.content"></textarea>
      </label>
      <a class="button button-block button-positive" ng-click="share()">Publish</a>
    </ion-content>
  </ion-modal-view>
</script>
