<div ng-controller="PostsCtrl">
  <div class="list card" ng-repeat="post in posts | orderBy: '-id'">

    <div class="item item-avatar item-icon-right">
      <img src="img/mike.png">
      <h2>Marty McFly</h2>
      <p>{{secondsToDate(post.postTime)}}</p>
      <i class="icon ion-ios-settings" ng-click="showPopover($event, post)"
         ng-if="post.photo.userId === aboutMe().id"></i>
    </div>

    <div class="item item-body">
      <img class="full-image" ng-src="{{post.photo.url}}">
      <p ng-if="!post.editable">
        {{post.content}}
      </p>
        <textarea elastic ng-init="post.newContent = post.content"
                  ng-model="post.newContent"
                  style="width: 100%; margin-top: 16px; box-shadow: 0 0 10px #719ECE;"
                  ng-if="post.editable">
        </textarea>
      <p>
        <a ng-click="toggleComments(post)" class="subdued">{{post.comments.length}} Comment{{post.comments.length > 1 ? 's' : ''}}</a>
        <a ng-repeat="tag in post.photo.tags" style="color: dodgerblue; display:inline-block; margin: 0 6px; position: relative;">
          <span ng-click="showTagPopup(post, tag)">{{tag.name}}</span>
          <i class="icon ion-close" style="color: gray;"></i>
        </a>
        <a ng-click="post.editable = false" class="subdued" style="position: absolute; right: 60px;"
           ng-if="post.editable">
          Cancel
        </a>
        <a ng-click="updatePost(post)" class="subdued" style="position: absolute; right: 20px;"
           ng-if="post.editable">
          Save
        </a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ng-click="toggleLike(post)">
        <i class="icon ion-thumbsup" ng-style="post.liked ? {color: 'red'} : {color: 'inherit'}"></i>
        Like
      </a>
      <a class="tab-item" ng-click="toggleComments(post)">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" ng-click="showShareSheet()">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>

    <ion-list ng-show="post.showComments">
      <ion-item class="item-input">
        <input type="text" ng-model="post.newComment" placeholder="Add a comment">
        <button style="margin-right: 10px;" class="button button-small button-positive" ng-click="addComment(post.id, post.newComment)">
          Send
        </button>
      </ion-item>
      <ion-item class="item item-avatar" ng-repeat="comment in post.comments | orderBy: 'id'">
        <img src="img/perry.png">
        <h2>{{comment.user.name}}</h2>
        <p style="white-space: initial;">{{comment.content}}</p>
        <p style="text-align:right; margin-right: -40px;">{{secondsToDate(comment.postTime)}}</p>
        <ion-option-button class="button-assertive" ng-if="comment.user.account == aboutMe().account" ng-click="rmComment(post.id, comment.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </div>
</div>
