<ion-popover-view>
  <ion-content>
    <div class="list">
      <div ng-if="currentPost.mine" class="item" ng-click="rmPost()">Delete</div>
      <div ng-if="currentPost.mine" class="item" ng-click="editPost()">Edit</div>
      <div ng-if="currentPost.mine" class="item" ng-click="">Set as private</div>
      <div class="item" ng-click="openTagModal()">Add tag</div>
    </div>
  </ion-content>
</ion-popover-view>
