<ion-view view-title="Bookmarks">
  <ion-content class="padding">

    <ion-refresher pulling-text="Pull to refresh ..." on-refresh="getBookmarks()"></ion-refresher>

    <posts></posts>

  </ion-content>
</ion-view>
