<ion-view view-title="My Posts">
  <ion-content class="padding">

    <ion-refresher pulling-text="Pull to refresh ..." on-refresh="getMyPosts()"></ion-refresher>

    <posts></posts>

  </ion-content>
</ion-view>
