<ion-view view-title="My Photos">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right"
                ng-repeat="photo in photos | orderBy: '-id'"
                type="item-text-wrap" href="#/tab/photos/{{photo.id}}">
        <img ng-src="{{photo.url}}">
        <h2>{{photo.title}}</h2>
        <p>{{photo.caption}}</p>
        <p>{{secondsToDate(photo.createdTime)}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="rmPhoto(photo.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
