<ion-view view-title="Home">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-refresh-empty" ng-click="getAllPosts()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">

    <ion-refresher pulling-text="Pull to refresh ..." on-refresh="getAllPosts()"></ion-refresher>

    <posts></posts>

  </ion-content>
</ion-view>
