<ion-view view-title="Camera">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-refresh-empty" ng-click="reset()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list" style="margin-bottom: 0;">
      <div class="photo-thumbnail" ng-repeat="image in images">
        <img ng-src="{{image.uri}}">
        <i ng-if="image.uploaded" class="icon ion-ios-checkmark-outline"></i>
      </div>
      <div class="photo-thumbnail">
        <img ng-click="addPhoto()" src="img/photo-add.png">
      </div>
    </div>
    <div class="list">
      <label class="item item-input item-icon-left">
        <span class="input-label input-label-icon width-40">
          <i class="icon placeholder-icon ion-ios-more-outline" style="padding-left: 0"></i>
        </span>
        <input type="text" ng-model="photoInfo.title" placeholder="Title">
      </label>
      <label class="item item-input item-icon-left">
        <span class="input-label input-label-icon width-40">
          <i class="icon placeholder-icon ion-ios-calendar-outline" style="padding-left: 0"></i>
        </span>
        <input type="date" placeholder="Date" ng-model="photoInfo.createdTime">
      </label>
      <label class="item item-input item-icon-left">
        <span class="input-label input-label-icon width-40">
          <i class="icon placeholder-icon ion-ios-pricetags-outline" style="padding-left: 0"></i>
        </span>
        <input type="text" ng-model="photoInfo.tags" placeholder="Tags, separated with space">
      </label>
      <label class="item item-input item-icon-left">
        <span class="input-label input-label-icon width-40">
          <i class="icon placeholder-icon ion-ios-person-outline" style="padding-left: 0"></i>
        </span>
        <input type="text" ng-model="photoInfo.author" placeholder="Author / Copyright">
      </label>
      <label class="item item-input">
        <textarea ng-model="photoInfo.caption" placeholder="Description" cols="40" rows="4" id="test"></textarea>
      </label>
    </div>
    <ul class="list">
      <li class="item item-toggle item-icon-left">
        <i class="icon ion-ios-paperplane-outline"></i>
        Share
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="photoInfo.share">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item item-input" ng-if="photoInfo.share">
        <textarea ng-model="newPost.content" placeholder="Say something ..."></textarea>
      </li>
    </ul>
    <button class="button button-block button-positive" ng-click="uploadPhoto()">Upload</button>
  </ion-content>
</ion-view>
