<ion-view view-title="Profile">
  <ion-content>
    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>Max</h2>
        <p>Back off, man. I'm a scientist.</p>
        <p>Back off, man. I'm a scientist.</p>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left" href="#/tab/profile/myposts">
        <i class="icon ion-ios-paperplane-outline"></i>
        My Posts
      </a>

      <a class="item item-icon-left" href="#/tab/profile/bookmarks">
        <i class="icon ion-ios-bookmarks-outline"></i>
        Bookmarks
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-people-outline"></i>
        Friends
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-chatboxes-outline"></i>
        Comments
        <span class="badge badge-assertive">0</span>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-compose-outline"></i>
        Edit Profile
      </a>

      <a class="item item-icon-left" href="#/tab/profile/settings">
        <i class="icon ion-ios-gear-outline"></i>
        Settings
      </a>

    </div>

  </ion-content>
</ion-view>
