/* Empty. Add your own CSS if you like */

/* Home tab */
.popover {
  height: auto !important;
  width: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}


/* Camera tab */

.width-40 {
  width: 38px;
}

.photo-thumbnail {
  position: relative;
  display: inline-block;
}
.photo-thumbnail img {
  height: 100px;
  width: 100px;
}
.photo-thumbnail i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: green;
  font-size: large;
}
